$dark-color: #000000;
$dark-background: #463f36;
$light-background: #F7F4E9;
$column-background: #F0EAD6;
$callout-background: #0FA3B1;
$button-background: #87CEFA;

$body-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$header-text: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.light-background {
    background-color: $light-background;
}

.card-body {
    background-color: $callout-background;
}

.btn-primary {
    background-color: $button-background;
}
.nav-link {
    color: $callout-background;
}

.dark-background{
    background-color: $dark-background;
    border-style: solid;
}

.column-background{
    background-color: $callout-background;
}

.nav-item {
    font-family: $body-text;
}

p {
    font-size: 1.1rem;
    font-family: $body-text;
}

h1 {
    font-family: $header-text;
}

.card-title {
    font-family: $header-text;
    font-size: 1.6rem;
}

ul {
    li {
        font-size: 1.2rem;
    }
}